<div id ="content" class="col-xs-10 col-xs-offset-1" >
  <header id="header" class="col-xs-12">
    <h1>{{title}}</h1>
  </header>

  <nav id="nav" class="col-xs-12">
    <ul>
      <li> <a href="home"> Home </a></li>
      <li> <a href="materiales"> Materiales </a></li>
      <li> <a href="elaboraciones"> Elaboraciones </a></li>
      <li> <a href="clientes"> Clientes </a></li>
    </ul>
  </nav>

  <section id="main" class="col-xs-12">
    <router-outlet></router-outlet>
  </section>

  <footer id="footer" class="col-xs-12">
    <p> Administración de minimicro Cervecería</p>    
  </footer>



</div>

