
/*sería el elemento que contiene todo*/
#content{
	margin-top: 15px; /*margen de arriba*/
	background: white;

	border: 1px solid #eee; /*dibuja un borde en el elemento*/
	border-radius: 2px; /*dedondea los bordes*/
	box-shadow: 0px 2px 5px #ccc; /*efecto de sombrita que se le agrega al box*/

	padding: 0px; /*espacion desde el borde hasta que inicia el contenido*/
	overflow: hidden; /* se refiere a si aparece la barrita de desplazamiento cuando el contenido no entra en la pantalla  https://www.w3schools.com/css/css_overflow.asp*/
}

/*encabezado. hasta ahora solo el nombre de la empresa*/
#header{
	background: #DDD64F;
	margin: 0px;
	height: 90px;
	line-height: 90px
}

#header h1{
	line-height: 45px;
	display: block;
}

#nav{
	margin: 0px;
	padding: 0px;
	background: #F3E709;
	
}

#nav ul{
	list-style: none;
	padding-left: 20px;
}

#nav ul li{
	float: left;
	margin-right: 20px;
}

#nav a{
	color: black;
	height: 40px;
	display: block;
	line-height: 40px;
	padding-left: 10px;
	transition: all 300ms;
}

#nav ul li a:hover{
	text-decoration: none;
	background: #DDD64F;
	border-radius: 6px;
}

#footer{
	margin-top: 50px;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	color: gray;
}
