<div class="col-xs-10 col-xs-offset-1">
	<div class="jumbotron" >
		<h2> De vuelta acá?</h2>
		
		
		<div class="panel panel-primary" >
			<div class="panel panel-heading">
				<p>PH</p>
				
			</div>
			<div class="panel panel-body">
				<p>Valores que funcionaron:</p>
				<p>PH agua inicial 3.9-4.5</p>
				<ul>
					<li>-PALE 4.2 - 4.5</li>
					<li>-Kolsch 3.8 - 4.4</li>			
					<li>-IPA 3.8 - 4.2</li>
					<li>-Amber 4.8</li>
				</ul>
				<p>PH que debe quedar el empaste 5.2 - 5.5</p>

				<p>PH del agua del lavado</p>
				inferior a 6 permite usar agua mas caliente (88º) sin extraer taninos.
				agua mas caliente en el lavado extrae mas azucares y aumenta el rendimiento
			</div>
		</div>
	</div>
</div>



