<form #formMaterial="ngForm" (ngSubmit)="onSubmit();formMaterial.resetForm()">
    <div class="form-group">
        <label for="nombreInput">Nombre del material</label>
        <input id="nombreInput" class="form-control"
            name="nombre" #Nombre="ngModel" [(ngModel)]="material.nombre">
    </div>
    <div class="form-group">
        <label for="cantidadInicialInput">Cantidad Inicial</label>
        <input id="cantidadInicialInput" class="form-control" type="number" 
            name="existencia" #CantidadInicial="ngModel" [(ngModel)]="material.existencia">
    </div>
    <div class="form-group">
        <label for="precioInput">Precio</label>
        <input id="precioInput" class="form-control" type="number"
            name="precioUnidad" #precioUnidad="ngModel" [(ngModel)]="material.precioUnidad">
    </div>
    <input type="submit" name="guardarMaterialBtn" value="Agregar" class="col-xs-offset-8 btn btn-primary">
</form>
